extends layout

block content
    h1.
        Meeting Participants
    ul
        each user, i in userlist
            li
                a(href="mailto:#{user.email}")= user.username
            li
                b= user.task
            
                